* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

button {
    cursor: pointer;
    padding: 5px 25px;
    margin: 0 10px;
}

#main {
    width: 100%;
}

#title {
    width: 100%;
    text-align: center;
    padding: 10px;
}

#sudokuTable {
    margin: auto;
    width: 100%;
    margin-bottom: 10px;
}

#sudokuButton {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.sudoku {
    margin: 0 auto;
    border-collapse: collapse;
}

.top_left, .center_left, .bottom_left {
    border-left: 2px solid black;
}

.top, .top_left, .top_right {
    border-top: 2px solid black;
}

.top_right, .center_right, .bottom_right {
    border-right: 2px solid black;
}

.bottom, .bottom_left, .bottom_right {
    border-bottom: 2px solid black;
}

.number {
    width: 2.75em;
    min-height: 2.75em;
    text-align: center;
    color: red;
    font-size: 1rem;
    font-weight: bold;
}